
.landingWrapper{
    background-color: blue;
    border: 3px solid red;
    margin-inline:auto;
    padding: 2.5rem;
}

.landingHeader{
    display: flex;
    background-color: yellow;
    color: black;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.5rem;
    justify-content: space-between;
}

.landingTitle{
    font-size: 4rem;
    color: yellow;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.accoladesWrapper{
    font-size: 2.25rem;
    font-weight: 600;
    background-color: black;
    color: white;
}

.gridCols{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.leftAccoladeColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border-right: 3px solid magenta;
    padding-right: 1rem;
}

.rightAccoladeColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-left: 1rem;
}